<div class="table-wrapper">
  <div class="flex align-items-center gap-2">
    <span class="p-input-icon-left ml-auto">
      <i class="pi pi-search"></i>
      <input pInputText type="text" (input)="dtroduct.filterGlobal($event.target.value.trim(), 'contains')"
        placeholder="Search keyword" />
    </span>
    <button pButton label="Add" (click)="HandleAdd()"></button>
  </div>
  <p-table #dtroduct [value]="productList" [columns]="getTableHeaders()" selectionMode="single"
    [(selection)]="selectedProduct" (onRowSelect)="onRowSelect()" dataKey="id" [paginator]="productList && productList.length > 0"
    [rows]="numberOfRows">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [hidden]="col.hidden" [width]="col.width" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field">
          </p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr [pSelectableRow]="product">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.quantity }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <div class="empty-message">No Record Found</div>
    </ng-template>
  </p-table>
</div>

<p-dialog position="topright" header="{{ docKey ? 'Update Product':'Add Product'  }}" [closeOnEscape]="true"
  [draggable]="false" [modal]="true" [resizable]="false" [(visible)]="addOrUpdateDialog"
  [style]="{width: '50vw'}" (onHide)="docKey = null">
  <app-product-from *ngIf="addOrUpdateDialog" [docKey]="docKey" [selectedProduct]="selectedProduct" (closeDialog)="handleCloseDialog()"
  (reloadProduct)="reloadProduct()"></app-product-from>
</p-dialog>
